{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "max-len": ["error", { "ignoreTemplateLiterals": true }],
    "class-methods-use-this": "off",
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
